---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const { contact_form_action } = config.params;
---

<Base
  entry_keys={["contact", "index"]}
>
  <section class=" pb-6 pt-16">
    <div class="container"><PageHeader page_data={entry.data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="rounded-2xl overflow-hidden shadow-lg bg-white dark:bg-gray-800">
          <div class="p-4">
            <h2 class="text-xl font-bold mb-2 text-gray-900 dark:text-gray-100">Email</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-4">
              Justin Giboney <a class="underline text-accent" href="mailto:justin_giboney@byu.edu">justin_giboney@byu.edu</a>
            </p>
          </div>
        </div>

        <div class="rounded-2xl overflow-hidden shadow-lg bg-white dark:bg-gray-800">
          <div class="p-4">
            <h2 class="text-xl font-bold mb-2 text-gray-900 dark:text-gray-100">Discord</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-4">
              Discord - Join <a class="underline text-accent" href="https://discord.gg/4dTMZWArJG">here</a> and message anyone with or ping the <span class="text-secondary">@CCDC</span> role
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>