---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const { contact_form_action } = config.params;
---

<Base
  entry_keys={["contact", "index"]}
>
  <section class=" pb-6 pt-16">
    <div class="container"><PageHeader page_data={entry.data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <p>Email - Justin Giboney <a class="underline text-accent" href="mailto:justin_giboney@byu.edu">justin_giboney@byu.edu</a></p>
        <p>Discord - Join <a class="underline text-accent" href="https://discord.gg/4dTMZWArJG">here</a> and message anyone with or ping the <span class="text-secondary">@CCDC</span> role</p>
      </div>
    </div>
  </section>
</Base>