---
import Section from "@/components/core/Section.astro";
import Features from "@/components/Features.astro";
import Testimonial from "@/components/Testimonial.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "index");
// console.log(homepage);
const { banner, sections } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="lg:mb-10 animate-fade-in">
    <Section section={banner} />
  </section>
  <!-- multi section -->
  {
    sections && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }
  <!-- <Content /> -->
</Base>
