---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const tryouts = await getEntry("tryouts", "index");
const { Content } = await tryouts.render();
---

<Base>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={tryouts.data} />
    </div>
    <div class="container">
      <div class='sm:w-full md:w-4/5 lg:w-3/5 xl:w-3/5 2xl:w-3/5 mx-auto relative group cursor-pointer mt-8'>
            <div
                class='absolute -inset-1 bg-gradient-to-r from-accent to-primary rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200'>
            </div>
            <div
                class='relative px-7 py-6 leading-relaxed bg-surface leading-none flex items-top justify-center space-x-6 rounded-full border border-gray-400'>
                <div class='space-y-2 text-center text-warning'>
                    <a href='https://byu.az1.qualtrics.com/jfe/form/SV_40A9s5UsEfldA7Y' target='_blank'><b>Click here to sign up for tryouts! Deadline is September 25th, 2025.</b></a>
                </div>
            </div>
        </div><br>
       <Content />
    </div>
  </section>
</Base>